<div style="margin-top: 7vh;">
  <% @posts.each do |post| %>
  <div class="post-list" >
  <%= link_to "/posts/#{post.id}" do %>
    <div id="post" style="margin: 10px; margin-bottom: 50px;">
      <div class="header">
        <p style="font-size: 18px;">Author <b><%= post.user.username %></b></p>
      </div>
       <div class="title-post">
        <h3 style="font-size: 35px;"><b><%= post.title %></b></h3>
      </div>
      <div class="body-post">
        <p style="font-size: 22px; color: grey;"><%= post.body[0..80] %></p>
      </div>
       <div class="row footer" style="font-size: 18px; color: grey; margin-top: 5px; margin-left: 0px;">
        <p ><b><%= post.created_at.strftime("%b %e") %></b> &emsp;</p>
        <p><b><%= post.reading_time(post.body) %> minutes</b></p>
      </div>
      
    </div>
    <% end %>
    </div>
  <% end %>
</div>

